{% extends 'layout.twig' %}

{% block body %}
    <table>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.role }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
